# Python cache and build files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/

# environment variables and logs
.env
*.log

# ignore models and databases
ai_server/models/emotion-classification-model/
ai_server/models/fallback-npc-model/
ai_server/models/sentence-embedder/
ai_server/chroma_db/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# alpha
,ects
test.py
temp/
ai_server/README.md