# Core Dependencies
torch
transformers>=4.45.0
peft>=0.12.0
datasets

# Web Interface SDK
gradio==6.9.0

# Additional Dependencies
numpy
scikit-learn
sentence-transformers
python-dotenv
huggingface_hub